<html>
  <head>
    <title>Welcome to iMovie</title>
  </head>
  <body>
    <h2>Welcome to iMovie</h2>
    <form action="https://webserver/account" method="get">
      <div class="form-group">
        <input type="submit" class="btn" value="Certificate issuance">
      </div>
    </form>
    <form action="https://webserver/account/certificate/revocation" method="post">
      <div class="form-group">
        <input type="submit" class="btn" value="Certificate revocation">
      </div>
    </form>
    <form action="https://webserver/ca_admin" method="get">
      <div class="form-group">
        <input type="submit" class="btn" value="CA admin">
      </div>
    </form>
    <form action="https://webserver/logout" method="post">
      <div class="form-group">
        <input type="submit" class="btn" value="Log out">
      </div>
    </form>
    <div>
      {{ msg }}
    </div>
  </body>
</html>