<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <div class="wrapper">
    <h2>Login</h2>
    <p>Please fill in your credentials to login.</p>
    <form action="https://webserver/login" method="post">
      <div class="form-group">
        <label>username</label>
        <input type="text" name="username" class="form-control">
      </div>    
      <div class="form-group">
        <label>password</label>
        <input type="password" name="password" class="form-control">
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-lg btn-primary" value="Log in">
      </div>
    </form>
  </div>   
  <div>
    {{ msg }}
  </div>
</body>
</html>